
<div class="panel panel-default">
  <%= render :partial => 'shared/panel_heading', :locals => {:title => t(:new_record_type)} %>
  <div class="panel-body">
    <%= render 'form' %>
    <%= link_to t(:record_types), record_types_path %>
  </div>
</div>

